// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

body {
   background-color: #3b3b3b;
}

/* Works on Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: grey transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   width: 5px;
}

*::-webkit-scrollbar-track {
   background: transparent;
}

*::-webkit-scrollbar-thumb {
   background-color: grey;
   border-radius: 20px;
}